@font-face {
    font-family:Digital Dismay ;
    src: url(Digital\ Dismay.otf);
}
@font-face {
    font-family:digital-7 ;
    src: url(digital-7.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --light-color: #19ce19;
}
body{
    width: 100vw;
    height: 100vh;
    background-color:  rgb(5, 4, 4);
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    gap: 50px;
}
h2{
    color: #2C3A47;
    font-size: 50px;
    font-weight: 500;
}
.frame{
    height: 200px;
    width: 600px;
    background-color: #0c1218;
    border: 30px solid #788b78;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    text-align: center;
    line-height: 70px;
    color:var(--light-color);
    font-size: 30px;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-size: 60px;
    font-family:digital-7;
    font-family:Digital Dismay ;
}

.container{
    text-shadow: 0 0 20px var(--light-color);
    position: relative;
}
.container::after{
    content: attr(data-text);
    color:white;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(30px);
}

.container::before{
    content: '8';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--light-color);
    width: 100%;
    height: 100%;
    opacity: 0.1;
    
}


@media (max-width: 576px) {
    .frame{
        height: 150px;
        width: 300px;
        background-color: #0c1218;
        border: 30px solid #788b78;
        border-radius: 10px;
        padding: 10px;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        text-align: center;
        line-height: 70px;
        color:var(--light-color);
        font-size: 30px;     
    }
}